*{ 
    padding: 0;
    margin: 0; 
    
}

.list-header{
    padding: 20px;
}
.list-body{
    margin: 20px;
}
.list-body > table{
    border: 1px solid black;
    width: 100%;
}
th{
    background-color: gray;
    text-align: left;
}
td, th{
    padding:2px;
}
tr:nth-child(even){
    background-color:lightgray;
}

/*Projectlist styles*/
td > a{
    background-color: lightgray;
    border: 1px solid black;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    margin: 5px 0 5px 10px;
}


/*Tasklist Styles*/
.project-name{
    float:left;
}
.project-hours{
    float: right;
}
.list-footer{
    margin:20px;
}